.images {
  display: flex;
  flex-wrap: wrap;
}
.img {
  height: 200px;
  width: 200px;
  border: 5px solid black;
}

td {
  border-style: solid;
  color: black;
  border-width: 1px;
}

table {
  color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-family: 'Press Start 2P', serif;
  color: white;
  margin-top: 0;
}

body {
  background-color: #22d464;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  border-style: solid;
  border-width: 1px;
  height: 100vh;
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #22d464;
  -webkit-box-shadow: 10px 14px 20px -10px rgba(0,0,0,1);
  -moz-box-shadow: 10px 14px 20px -10px rgba(0,0,0,1);
  box-shadow: 10px 14px 20px -10px rgba(0,0,0,1);
}

.headercontainer {
  display: flex;
  justify-content: center;
}

.logotype {
  margin-left: 25px;
  margin-top: 15px;
}

.logotype h1 {
  font-family: 'Press Start 2P', serif;
  color: white;
  font-size: 1.25em;
  line-height: 0px;
  margin: 0px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 0px;
}

h2 a:link {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: underline;
  color: black;
}

h2 a:visited {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: underline;
  color: black;
}

h2 a:hover {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: underline;
  color: black;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 960px;
  background-color: #44a255;
  margin: 0;
}

.tiy {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

}

.tiy a:link {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
}

.tiy a:hover {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
  text-decoration: underline;
}

.tiy a:visited {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
}

/*GOOD PUNCHOUT STUFF*/

/*table {
margin-top: 100px;
padding: 0px;
}

td {
  background-size: contain;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  height: 140px;
  width: 140px;
}

tr {
  margin: 0px;
}
h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 46px;
  z-index: 1;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #22d464;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  width: 960px;
}
.primarycontainer {
display: flex;
justify-content: center;
align-items: center;
}
.headercontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 260px;
  justify-content: center;
  background-image: url(images/background.jpg);
}
.headercontainer h1 {
  margin-top: 375px;
}*/*/
